*.aux
*.bbl
v1t4brevis
*.bcf
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.log
*.out
*.rel
*.run.xml
*.synctex*
*.tmp
*.hd
*~
/.auctex-auto
/.svnignore
/LopezIbanez.bib
/LopezIbanez.html
/LopezIbanez_bib.html
/auto
/bib2html*
/bibpool
/citefile
/cvcustom.bib
/test/.bibtex-warnings
/web/index.html
/web/index_bib.html
TAGS
testbib.pdf
testbiblatex.pdf
testshortbib.pdf
tmp.bst
